body {
margin: 40px;
}

.instance {
  grid-column-start: 1;
  grid-column-end: 2;
}

/*.ingredients {
  background-color: #e8ebef;
}*/

/*

.confidence {

}


.recipe-image {

}
*/

.neighbors {
  overflow-y: scroll;
  height: 800px;  
  padding: 10px;
}

.prediction {
  outline: 5px solid black;
  padding: 10px;
}

.neighbor {
  outline: 5px solid black;
  padding: 5px;
}

.pred-proba {
  outline: 5px solid black;
  padding: 5px;
}

.explanation {
  grid-column-start: 2;
  grid-column-end: 3;
}

.question {
  grid-column-start: 1;
  grid-column-end: 3;
}


.wrapper {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 50px;
margin: 50px;
}


.box {
background-color: #e8ebef;
color: #444;
border-color: #444;
border-radius: 5px;
padding: 20px;
font-size: 100%;
}

.practicebox {
background-color: #cae2e6;
color: #444;
border-color: #444;
border-radius: 5px;
padding: 20px;
font-size: 100%;
}

.box2 {
background-color: white;
color: #444;
border-color: #444;
border-radius: 5px;
padding: 20px;
width: 250px;
}

/*Preferences*/
.a {
grid-column: 1 / 4;
grid-row: 1;
}


/*Instructions*/
.b {
grid-column: 1 ;
grid-row: 2;
text-align: center;
}

/*Observations*/
.c {
grid-column: 1 ;
grid-row: 2 ;
}

.c:last-child {
grid-column: span 2;
}

/*Recommendation*/
.d {
grid-column: 2 / 4;
grid-row: 2;
}


/*Question*/
.e {
grid-column: 3;
grid-row: 2 / 4;
text-align: center;
}


.myim {
float: left;
margin-left: 25px;
position: relative;
width: 125px;
text-align:center;
margin-bottom: 10px;
vertical-align: bottom;
}


.mylist {
font-size: 80%;
margin: 1em;
padding: 0.2em;
line-height: 120%
}

.proglist {
font-size: 90%;
margin: 1em;
padding: 0.2em;
line-height: 120%;
list-style: none;
overflow: scroll;
}

.el {
color: #c65701;
font-weight: bold;
}

.cond {
color: #1529c4;
font-weight: bold;
}


li {
margin: 0;
padding: 0.2em;
}

.jspsych-survey-multi-choice-question {
	margin-bottom: 0px !important;
}

.jspsych-survey-multi-choice-option {
	float: initial !important;
}

.general-box .proglist img {
  max-width: 100%;
}

.small-box img {
  float: left;
  margin-left: 25px;
  position: relative;
  width: 50px;
  text-align:center;
  margin-bottom: 10px;
  vertical-align: bottom;
}

img.expand-tree {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.tree-expanded img.expand-tree {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.tree-expanded .general-box .proglist img {
  max-width: none;
  min-width: 100%;
}

.collapse-tree-button { display: none; }
.tree-expanded .expand-tree-button { display: none; }
.tree-expanded .collapse-tree-button { display: inline; }

.tree-expanded .general-box.c {
  position: fixed;
  bottom: 1em;
  left: 1em;
  border: 1px solid;
}
